.login {
  height: 667px;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form {
  padding-top: 32px;
}
